<template>
  <require from="./skill"></require>
  <require from="./inventory"></require>

  <div class="game-actor-actions">
    <div class="actor-status-line">
      <i if.bind="timesource.isRunning" class="fa fa-play-circle"></i><i if.bind="!timesource.isRunning" class="fa fa-pause-circle"></i>
      <div class="actor-attributes-indicators">
        <div class="progress" style="width: ${getActorAttributeBarWidth(self.vm.Health)}px;">
          <div class="progress-bar progress-bar-fast bg-danger" role="progressbar" style="width: ${getActorAttributeBarPercent(self.vm.Health)}%" aria-valuenow="${getActorAttributeBarPercent(self.vm.Health)}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="progress" style="width: ${getActorAttributeBarWidth(self.vm.Stamina)}px;">
          <div class="progress-bar progress-bar-fast bg-info role="progressbar" style="width: ${getActorAttributeBarPercent(self.vm.Stamina)}%" aria-valuenow="${getActorAttributeBarPercent(self.vm.Stamina)}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <div class="side-column-spacer"></div>
    <div class="action-items-container">
      <div class="action-item-actor" if.bind="self.skills.length > 0">
        <div class="action-item-box-commands">
          <div class="btn-group-horizontal" role="group" aria-label="..." repeat.for="skill of self.skills">
            <div if.bind="!skill.isRealTime">
              <skill skill.bind="skill" entity.bind="self.vm.entity" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="side-column-spacer"></div>
    <inventory items.bind="inventory"></inventory>
  </div>
</template>
