<template>
  <require from="./dialogs/new-recording"></require>

  <p>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-outline-secondary" click.delegate="dumpAll()">
      Dump story data
    </button>
    <button type="button" class="btn btn-outline-secondary" click.delegate="dumpState()">
      Dump state
    </button>
    <button type="button" class="btn btn-outline-secondary" click.delegate="saveState('slot1')">
      Save
    </button>
    <button type="button" class="btn btn-outline-secondary" click.delegate="loadState('slot1')">
      Load
    </button>
    <button type="button" class="btn btn-outline-secondary" click.delegate="resetState()">
      Reset
    </button>
    <button type="button" class="btn btn-outline-secondary" click.delegate="reload()">
      Reload
    </button>
    <button type="button" class="btn btn-outline-secondary" click.delegate="break()">
      Break
    </button>
    <button type="button" class="btn btn-outline-secondary" click.delegate="test()">
      Test
    </button>
  </div>
  <div>
    <p>
    <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#recordedMessages" aria-expanded="false" aria-controls="recordedMessages">
    Message Recorder
    </button>
    <p>
        <div class="collapse" role="group" id="recordedMessages">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-outline-secondary" click.delegate="replayInputLog(1)">
          Replay
        </button>
        <button type="button" class="btn btn-outline-secondary" click.delegate="replayInputLog(50)">
          Replay 50x
        </button>
        <button type="button" class="btn btn-outline-secondary" click.delegate="restoreInputLogState()">
          Restore
        </button>
        <button type="button" class="btn btn-outline-secondary" click.delegate="trimInputLog()">
          Trim
        </button>
        <button type="button" class="btn btn-outline-secondary" click.delegate="clearInputLog()">
          Clear
        </button>
        <button type="button" class="btn btn-outline-secondary" click.delegate="startRecordingInput()">
          Start recording
        </button>
        <button type="button" class="btn btn-outline-secondary" click.delegate="stopRecordingInput()">
            Stop recording
        </button>
        <button type="button" class="btn btn-outline-secondary" click.delegate="newRecording()">
            New recording
        </button>
        <button type="button" class="btn btn-outline-secondary" click.delegate="deleteSelectedRecording()">
            Delete recording
        </button>
      </div>
      <p>
      <div class="card card-block message-log-picker">
        <div class="list-group" style="max-height: 300px; overflow-y:scroll; ">
            <a class="list-group-item ${recording.name === selectedInputLoggerRecording.name  ? 'active' : ''}" repeat.for="recording of inputLoggerRecordings" href="javascript:void(0)" click.delegate="setSelectedInputLoggerRecording(recording)">${recording.name}</a>
          </li>
        </div>
        <div class="list-group" style="max-height: 300px; overflow-y:scroll; text-align:left;">
            <a class="list-group-item ${item === selectedInputLoggerItem ? 'active' : ''}" repeat.for="item of inputLoggerItems" href="javascript:void(0)" click.delegate="setSelectedInputLoggerItem(item)"  >${item.description}</a>
          </li>
        </div>
      </div>
    </div>
  </div>
</template>