<template>
  <div class="btn-group-horizontal exits" role="group" aria-label="...">
    <button type="button" class="btn btn-secondary" repeat.for="exit of exits" click.delegate="tryExit(exit.exit)">
      ${exit.title}
    </button>
  </div>
</template>