<template>
  <div id="game-log-view" class="game-log">
    <div repeat.for="item of items" class="game-log-item">
      <h3 if.bind="item.title != null" class="game-log-header">${item.title}</h3>
      <div class="${item.style}">${item.description}</div>
      <div repeat.for="line of item.descriptionLines" class="${item.style}">${line}</div>
    </div>
  </div>
</template>