<template>
  <require from="./visible-item"></require>

  <div class="game-visible-items" id="accordion-visible-items" role="tablist" aria-multiselectable="true">
    <div repeat.for="entity of items">
      <visible-item item.bind="entity"></visible-item>
    </div>
  </div>
</template>