<template>
  <require from="./draw-surface"></require>

  <div if.bind="panel.visible" id="real-time-panel" class="real-time-panel">
    <h1>real time panel ${panel.contentTemplate}</h1>
    <compose view-model.bind="panel.contentTemplate"></compose>
  </div>
</template>