<template>
  <require from="./empty-to-nbsp"></require>

  <div class="skill-item">
    <button type="button" class="btn btn-primary btn-sm" click.delegate="skill.useSkill(entity)">
      ${skill.capitalTitle}
    </button>
    <div class="btn-group" if.bind="skill.config.modifiers.length > 0">
      <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        ${skill.selectedModifier.title}<span class="caret"></span>
      </button>
      <div class="dropdown-menu">
        <a repeat.for="modifier of skill.config.modifiers" class="dropdown-item" href="javascript:void(0)" click.delegate="skill.setSelectedModifier(modifier)" innerhtml.bind="modifier.title | emptyToNbsp"></a>
      </div>
    </div>
    <div class="btn-group" if.bind="skill.config.instruments.length > 0">
      <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        ${skill.selectedInstrument.prepositionedEntityNoun}<span class="caret"></span>
      </button>
      <div class="dropdown-menu">
          <a repeat.for="instrument of skill.config.instruments" class="dropdown-item" href="javascript:void(0)" click.delegate="skill.setSelectedInstrument(instrument)">${instrument.prepositionedEntityNoun}</a>
      </div>
    </div>
    <div class="btn-group" if.bind="skill.config.indirects.length > 0">
      <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        ${skill.selectedIndirect.prepositionedEntityNoun}<span class="caret"></span>
      </button>
      <div class="dropdown-menu">
          <a repeat.for="indirect of skill.config.indirects" class="dropdown-item" href="javascript:void(0)" click.delegate="skill.setSelectedIndirect(indirect)">${indirect.prepositionedEntityNoun}</a>
      </div>
    </div>
  </div>
</template>