<template>
  <require from="./skill"></require>

  <div class="action-item-box">
    <div class="action-item-box-header" role="tab" id="heading-${item.vm.tag}">
      <a data-toggle="collapse" data-parent="#accordion-visible-items" href="#collapse-${item.vm.tag}" aria-expanded="false" aria-controls="collapse-${item.vm.tag}">
        ${item.vm.Title}
        <span class="action-item-box-has-reations" if.bind="item.relations.length > 0">...</span>
      </a>
    </div>
    <div id="collapse-${item.vm.tag}" class="collapse action-item-box-commands" role="tabpanel" aria-labelledby="heading-${item.vm.tag}">
      <span>${item.vm.Description}</span>
      <div class="btn-group-horizontal" role="group" aria-label="..." repeat.for="skill of item.skills">
        <div if.bind="!skill.isRealTime">
          <skill skill.bind="skill" entity.bind="item.vm.entity" />
        </div>
      </div>
      <div repeat.for="relation of item.relations">
        <visible-item item.bind="relation"></visible-item>
      </div>
    </div>
  </div>
</template>
