<template>
  <require from="../skill"></require>

  <ux-dialog class="real-time-panel">
    <ux-dialog-body>
      <h2><i if.bind="fight.isTimesourceRunning" class="fa fa-play-circle"></i><i if.bind="!fight.isTimesourceRunning" class="fa fa-pause-circle"></i> <i if.bind="fight.isTimeDilated" class="fa fa-circle-o-notch  fa-spin"></i></h2>
      ${fight.actor.vm.Title}
      <div class="fight-dialog-actor-attributes-indicators">
        <div class="progress" style="width: ${getActorAttributeBarWidth(fight.actor.vm.Health)}px;">
          <div class="progress-bar bg-danger" role="progressbar" style="width: ${getActorAttributeBarPercent(fight.actor.vm.Health)}%" aria-valuenow="${getActorAttributeBarPercent(fight.actor.vm.Health)}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="progress" style="width: ${getActorAttributeBarWidth(fight.actor.vm.Stamina)}px;">
          <div class="progress-bar bg-info role="progressbar" style="width: ${getActorAttributeBarPercent(fight.actor.vm.Stamina)}%" aria-valuenow="${getActorAttributeBarPercent(fight.actor.vm.Stamina)}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
      <div>
        <span class="real-time-panel-action-description ${fight.timers.get(fight.actor.vm.entity.id).active ? 'visible' : 'hidden'}">
          <i if.bind="fight.timers.get(fight.actor.vm.entity.id).waiting" class="fa fa-hourglass fa-spin"></i>
          <i if.bind="fight.timers.get(fight.actor.vm.entity.id).cancelled" class="fa fa-ban"></i>
          ${getActionDescription(fight.actor.vm.entity.id)}
        </span>
        <div class="progress">
          <div class="progress-bar ${getProgressStyle(fight.actor.vm.entity.id)}" role="progressbar" style="width: ${fight.timers.get(fight.actor.vm.entity.id).currentPercent}%" aria-valuenow="${fight.timers.get(fight.actor.vm.entity.id).currentPercent}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </ux-dialog-body>

    <ux-dialog-footer>
      <div class="btn-group-horizontal" role="group" aria-label="..." repeat.for="target of fight.targets">
        <div class="fight-dialog-actor-title">${target.vm.Title}
          <div class="fight-dialog-actor-attributes-indicators" >
            <div class="progress" style="width: ${getActorAttributeBarWidth(target.vm.Health)}px;">
              <div class="progress-bar bg-danger" role="progressbar" style="width: ${getActorAttributeBarPercent(target.vm.Health)}%" aria-valuenow="${getActorAttributeBarPercent(target.vm.Health)}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress" style="width: ${getActorAttributeBarWidth(target.vm.Stamina)}px;">
              <div class="progress-bar bg-info role="progressbar" style="width: ${getActorAttributeBarPercent(target.vm.Stamina)}%" aria-valuenow="${getActorAttributeBarPercent(target.vm.Stamina)}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
        <div>
          <span class="real-time-panel-action-description ${fight.timers.get(target.vm.entity.id).active ? 'visible' : 'hidden'}">
            <i if.bind="fight.timers.get(target.vm.entity.id).waiting" class="fa fa-hourglass fa-spin"></i>
            <i if.bind="fight.timers.get(target.vm.entity.id).cancelled" class="fa fa-ban"></i>
            ${getActionDescription(target.vm.entity.id)}
          </span>
          <div class="progress">
            <div class="progress-bar ${getProgressStyle(target.vm.entity.id)}" role="progressbar" style="width: ${fight.timers.get(target.vm.entity.id).currentPercent}%" aria-valuenow="${fight.timers.get(target.vm.entity.id).currentPercent}" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="btn-group-horizontal" role="group" aria-label="..." repeat.for="skill of target.skills">
          <div if.bind="skill.isRealTime">
            <skill skill.bind="skill" entity.bind="target.vm.entity" />
          </div>
        </div>
      </div>
    </ux-dialog-footer>
  </ux-dialog>
</template>