<template>
  <ux-dialog>
    <ux-dialog-body>
      <h2>Recording name</h2>
      <input value.bind="recording.name">
    </ux-dialog-body>

    <ux-dialog-footer>
      <button click.trigger="controller.cancel()">Cancel</button>
      <button click.trigger="controller.ok(recording)">Ok</button>
    </ux-dialog-footer>
  </ux-dialog>
</template>