<template>
  <require from="./views/exits"></require>
  <require from="./views/actor"></require>
  <require from="./views/visible-items"></require>
  <require from="./views/game-log"></require>
  <require from="./views/real-time-panel"></require>
  <require from="./views/debug-menu"></require>

  <section class="au-animate">
    <div class="game-header">
      <h3 style="align-content: center">snowatch</h3>
    </div>
    <div class="game-view">
      <actor self.bind="self" timesource.bind="timesource" inventory.bind="currentActorVM.inventory"></actor>
      <div class="game-navigation">
        <game-log items.bind="gameLogItems"></game-log>
        <real-time-panel panel.bind="realTimeContent"></real-time-panel>
        <exits exits.bind="exits"></exits>
      </div>
      <visible-items items.bind="sceneEntities"></visible-items>
    </div>
  </section>
  <debug-menu></debug-menu>
</template>
