$fa-font-path: "../../../node_modules/font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

@import 'snowatch-theme-dark.scss';

.game-header {
}

.game-view {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.game-navigation {
  float: left;
  min-width: 30em;
  max-width: 60em;
  min-height: 65vh;
  max-height: 85vh;
  margin-right: 2em;
}

.game-log {
  overflow: auto;
  margin-left: 1em;
  margin-right: 1em;
  padding: 0.1em;
  height: 70vh;
  min-height: 50vh;
  max-height: 80vh;
}

.real-time-panel {
  overflow: auto;
  margin-left: 1em;
  margin-right: 1em;
  padding: 0.1em;
  height: 30vh;
  min-height: 30vh;
  max-height: 30vh;
  width: 70vw;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.game-log-item {
  min-width: 10em;
  max-width: 80em;
  margin-bottom: 0.5em;
}

.game-log-header {
  margin-bottom: 0.25em;
}

.game-log-separator {
  border-top-style: solid;
  border-width: 2px;
  border-color: rgba(12, 227, 172, 0.1);
}

.game-log-scene-desc {
  font-size: 1.0em;
}

.game-log-item-desc {
  font-size: 0.9em;
}

.game-log-spatial {
  font-size: 0.9em;
}

.progress {
  height: 0.4em;
  margin: 0.25em;
}

.real-time-panel-action-description {
  font-size: 0.85em;
  display: block;
  text-align: left;
}

.exits {
  margin: auto;
}

.game-actor-actions {
  float: left;
  width: 25%;
}

.game-visible-items {
  float: left;
  width: 25%;
}

.skill-item {
  margin-bottom: 3px;
}

.action-items-container {
  width: 100%;
}

.side-column-spacer {
  min-width: 20em;
  max-width: 20em;
}

.action-item-actor {
  min-width: 20em;
  max-width: 20em;
  padding-top: 3px;
  margin: 1px 1px 5px 1px;
  border-radius: $action-item-actor-border-radius;
  border: 1px solid $action-item-actor-border-color;
  background: $action-item-actor-background-color;
}

.action-item-box {
  min-width: 20em;
  max-width: 20em;
  margin: 1px;
  border-radius: $action-item-box-border-radius;
  border: 1px solid $action-item-box-border-color;
  background: $action-item-box-background-color;
}

.action-item-box-header {
  padding: 0.5rem;
  margin: 0;
  font-weight: 700;
  background: $action-item-box-header-background-color;
  border-top-left-radius: $action-item-box-border-radius;
  border-top-right-radius: $action-item-box-border-radius;
}

.action-item-box-has-reations {
  float: right;
}

.action-item-box-commands {
  padding: 0 0.5em 0 0.5em;
}

.fight-dialog-actor-title {
  font-size: larger;
  text-align: left;
}

.message-log-picker {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}


element.style {
  width: 70%;
}

.progress-bar-fast {
  transition: width 0.2s ease;
}

.progress-bar-slow {
  transition: width 1s ease;
}

.actor-status-line {
  display: flex;
  padding-left: 0.25em;
}

.actor-attributes-indicators {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.25em;
}

.fight-dialog-actor-attributes-indicators {
  @extend .actor-attributes-indicators;
}