
// actor aactions
$action-item-actor-border-radius: calc(0.25rem - 1px);
$action-item-actor-background-color: #444;
$action-item-actor-border-color: #303030;

// action box
$action-item-box-border-radius: calc(0.25rem - 1px);
$action-item-box-border-color: #444;
$action-item-box-header-background-color: #303030;
$action-item-box-background-color: #303030;