<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      <%- htmlWebpackPlugin.options.metadata.title %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
    <!-- imported CSS are concatenated and added automatically -->
  </head>

  <body aurelia-app="snowatch-game-loader">
    <div class="splash">
      <div class="message">
        <%- htmlWebpackPlugin.options.metadata.title %>
      </div>
      <i class="fa fa-spinner fa-spin"></i>
    </div>

    <% if (htmlWebpackPlugin.options.metadata.server) { %>
      <!-- Webpack Dev Server reload -->
      <script src="/webpack-dev-server.js"></script>
    <% } %>
  </body>
</html>
